.button-position {
  margin-left: auto;
}

.import-textarea {
  border: 1px dashed var(--background-alt-grey-active) !important;
  background-color: var(--background-default-grey-hover);
  width: 100%;
  resize: none;
}

.import-textarea-erreur {
  border: 1px dashed var(--background-alt-grey-active) !important;
  background-color: var(--background-default-grey-hover);
  width: 100%;
  resize: none;
  color: red;
}

.import-textarea::placeholder {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  white-space: pre-wrap;
}

.import-textarea-erreur::placeholder {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  white-space: pre-wrap;
}

.sous-titre {
  font-weight: 600;
}

.resultTable-error {
  overflow-y: scroll;
  height: 16rem;
}

.full-width-button {
  width: 100%;
  justify-content: center;
}

.new-list-button-group {
  margin: 0 .5rem .5rem .5rem;
}
