.button-position {
    margin-left: auto;
}

.menu {
    list-style-type: none;
    border: 1px solid var(--border-default-grey);
    position: absolute;
    width: fit-content;
    padding: 0;
    z-index: 5;
}

.import-textarea {
    border: 1px dashed var(--background-alt-grey-active) !important;
    background-color: var(--background-default-grey-hover);
    width: 100%;
    resize: none;
}

.import-textarea::placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    white-space: pre-wrap;
}

.sous-titre {
    font-weight: 600;
}

@media (max-width: 1405px) {
    .menu {
        right: 23px;
    }
}

.menu>li {
    margin: 0;
    background-color: white;
    border-bottom: 1px solid var(--border-default-grey);
    white-space: nowrap;
}

.menu>li:last-child {
    border-bottom: none;
}

.menu>li:hover {
    background-color: #f6f6f6;
}

.menu>li>button:hover {
    background: none;
}