.widthTD-date {
  max-width: 20ch;
  word-wrap: break-word;
}
.th {
  cursor: pointer;
  user-select: none;
}
.no-sort {
  pointer-events: none;
}
.defaultArrows {
  display: inline-flex;
  flex-direction: column;
  zoom: 0.8;
}

.defaultArrowUp {
  margin-top: 0px;
}

.defaultArrowDown {
  margin-top: -20px;
}
