.widthTD-date {
  max-width: 20ch;
  word-wrap: break-word;
}

.th {
  cursor: pointer;
  user-select: none;
}

.no-sort {
  pointer-events: none;
}

.defaultArrows {
  display: inline-flex;
  flex-direction: column;
}

.defaultArrowUp {
  margin-top: 0;
}

.defaultArrowDown {
  margin-top: -20px;
}