.qualite_par_annee_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nombre_totale_reclamation_container {
}

.table_qualite_Container {
  font-size: small;
}

.motif_width {
  width: 380px;
}

.histogramme_width {
  width: 230px;
}

@media (max-width: 800px) {
  .qualite_par_annee_container {
    flex-direction: column;
  }
  .motif_width {
    width: auto;
  }
  .histogramme_width {
    width: auto;
  }
}
