.star {
    color: #000091;
}

.logo-container {
    display: block;
    height: 24px;
    width: 24px;
}

.logo-center {
    text-align: -webkit-center !important;
}

.info-container::before {
    height: 23px;
    width: 15px;
}

.cell-container {
    max-width: 1rem;
    text-wrap: wrap !important;
}

.header-logo {
    text-align: center !important;
}

.table-tr-avrage td {
    color: #979797;
}

.info-container-bulle::before {
    height: 23px;
    width: 15px;
    color: var(--blue-france-sun-113-625);
}