.title {
    text-align: center;
    margin-top: 2rem;
    color: #000091;
}

.reste-liste {
    background-color: var(--background-alt-blue-france);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reste-liste a {
    text-decoration: none;
    background-image: none;
    font-size: x-large;
    font-weight: bolder;
}

.titre-liste {
    font-size: large;
    font-weight: bolder;
}

.tuiles {
    list-style: none;
}