.title {
    /* text-align: center; */
    margin-top: 2rem;
    color: #000091;
}

.reste-liste {
    background-color: var(--background-alt-blue-france);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tuiles {
    list-style: none;
}