.container {
  text-align: center;
  margin-top: 6rem;
}

.error-message {
  width: 16rem;
  color: #cd3939;
}

.password-label {
  display: flex;
  justify-content: space-between;
}

.success {
  height: 40px;
  background-color: #b8fec9;
  border: 1px solid #b5eeb7;
  color: #18753c;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.error {
  height: fit-content;
  background-color: #f7d7d4;
  border: 1px solid #f4c7c2;
  color: #ce0500;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 20px;
}

.forget-email-link {
  background-image: none;
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px;
}
