.container {
    text-align: center;
    margin-top: 6rem;
}

.error-message {
    width: 15rem;
    color: #cd3939;
}

.password-label {
    display: flex;
    justify-content: space-between;
}

.links-underline {
    background-image: none;
}

.success {
    height: 40px;
    background-color: #b8fec9;
    border: 1px solid #b5eeb7;
    color: #18753c;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.mb-20 {
    margin-bottom: 20px;
}