{
  "extends": ["next/core-web-vitals", "prettier"],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["public/smarttag.js"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "eslint-plugin-react",
    "@typescript-eslint"
  ],
  "rules": {
    "default-case": "error",
    "eqeqeq": "error",
    "id-match": "error",
    "no-console": "error",
    "no-param-reassign": "error",
    "prefer-const": "error",
    "yoda": "error",
    "@typescript-eslint/array-type": ["error", { "ArrayOption": "array" }],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "leadingUnderscore": "allow",
        "selector": "variable",
        "format": [
          "camelCase",
          "PascalCase",
          "UPPER_CASE"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-var-requires": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-curly-brace-presence": "error",
    "react/jsx-sort-props": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-mutable-exports": "error",
    "import/no-restricted-paths": ["error", {
      "zones": [
        {
          "target": "download_data_source",
          "from": "src",
          "message": "L'application est fermée au download_data_source."
        },
        {
          "target": "src",
          "from": "download_data_source",
          "message": "Le download_data_source est fermé à l'application."
        }
      ]
    }],
    "import/order": [
      "warn",
      {
        "groups": [["builtin", "external"], ["internal", "parent", "sibling", "index", "object", "type"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.test.ts?(x)"],
      "extends": [
        "plugin:jest/all",
        "plugin:jest-formatting/recommended"
      ],
      "rules": {
        "jest/no-conditional-expect": "off",
        "jest/no-hooks": "off",
        "jest/require-hook": "off",
        "jest/prefer-expect-assertions": "off",
        "jest/prefer-lowercase-title": [ "error", { "ignore": ["describe"] } ]
      }
    },
    {
      "files": ["**/*.test.tsx"],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
