version: '3.9'

services:
  sftp-finess:
    image: atmoz/sftp
    container_name: helios_sftp_finess
    ports:
      - target: 22
        published: 24
    volumes:
      - type: bind
        source: ${PWD}/data_set
        target: /home/finess/
      - type: bind
        source: ${HOME}/.ssh/sftp_local.pub
        target: /home/finess/.ssh/keys/sftp_local.pub
        read_only: true
      - type: bind
        source: ${PWD}/sshd_config/sshd_config
        target: /etc/ssh/sshd_config
        read_only: true
    command: finess::1001

  sftp-dnum:
    image: atmoz/sftp
    container_name: helios_sftp_dnum
    ports:
      - target: 22
        published: 23
    volumes:
      - type: bind
        source: ${PWD}/data_set/diamant_chiffré
        target: /home/HELIOS/DIAMANT/incoming
      - type: bind
        source: ${PWD}/data_set/flux_sirec
        target: /home/HELIOS/SIREC
      - type: bind
        source: $PWD/data_set/flux_siicea
        target: /home/HELIOS/SIICEA
      - type: bind
        source: ${PWD}/data_set/flux_sivss
        target: /home/HELIOS/SIVSS
      - type: bind
        source: ${HOME}/.ssh/sftp_local.pub
        target: /home/HELIOS/.ssh/keys/sftp_local.pub
        read_only: true
    command: HELIOS::1001
  
  sftp-hapi:
    image: aminvakil/alpine-ftp-server-tls
    container_name: helios_sftp_hapi
    ports:
      - "990:990"
      - "30000-30009:30000-30009"
    volumes:
      - type: bind
        source: ${PWD}/data_set/flux_hapi
        target: /home/infocentre_helios/ftps/Infocentre/Production/download/HAPI/anciennes_campagnes
        read_only: true
    environment:
      USERS: "infocentre_helios|passwordforhapi|/home/infocentre_helios"

  postgres:
    image: postgres:14.18-alpine # Conserver la même version avec le fichier de la CI : helios-ci.yml
    container_name: helios_db
    ports:
      - target: 5432
        published: 5432
    environment:
      POSTGRES_DB: helios
      POSTGRES_USER: helios
      POSTGRES_PASSWORD: h3li0s
    volumes:
      - type: volume
        source: postgres_data
        target: /var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all", "-c", "max_connections=100"]
  postgres-test:
    image: postgres:14.18-alpine # Conserver la même version avec le fichier de la CI : helios-ci.yml
    container_name: helios_test_db
    ports:
      - target: 5432
        published: 5433
    environment:
      POSTGRES_DB: helios
      POSTGRES_USER: helios
      POSTGRES_PASSWORD: h3li0s
    volumes:
      - type: volume
        source: postgres_data_test
        target: /var/lib/postgresql/data
    command: ["postgres", "-c", "log_statement=all", "-c", "max_connections=10"]

volumes:
  postgres_data:
  postgres_data_test:
