[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.4.2"
sqlalchemy = "1.4.37"
psycopg2 = "2.9.3"

[dev-packages]
jupyter = "1.0.0"
ipykernel = "6.15.0"
pylint = "2.14.3"
mypy = "0.961"

[requires]
python_version = "3.10"

[scripts]
lint = 'pylint --rcfile .pylintrc data-crawler/load/ data-crawler/transform'
typecheck = 'mypy --config mypy.ini --namespace-packages -p data-crawler.transform -p data-crawler.load'