[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "1.4.37"
psycopg2 = "2.9.3"
sentry-sdk = "1.6.0"
python-dotenv = "0.20.0"
pandas = "1.5"
lxml = "4.9.1"

[dev-packages]
jupyter = "1.0.0"
ipykernel = "6.15.0"
pylint = "2.14.3"
mypy = "0.982"
pytest = "7.1.2"
pytest-mock = "3.7.0"
black = "22.6.0"
pandas-stubs = "~=1.4.3.220704"
sqlalchemy-stubs = "~=0.4"
freezegun = "1.2.1"
matplotlib = "3.5.2"
pytest-cov = "4.0.0"
pytest-watcher = "==0.2.1"

[requires]
python_full_version = "3.10.8" # Conserver la même version que celle dans helios-ci.yml

[scripts]
encrypt_diamant = 'python -m datacrawler.test_helpers.chiffre_diamant'
decrypt_diamant = 'python -m datacrawler.déchiffre_diamant'
format = 'black datacrawler --config pyproject.toml'
format_check = 'black datacrawler --config pyproject.toml --check'
lint = 'pylint --rcfile pyproject.toml datacrawler'
populate_activite_et_medico_social = 'python -m datacrawler.ajoute_les_activités_des_établissements_médico_sociaux'
populate_activite_et_sanitaire = 'python -m datacrawler.ajoute_les_activités_des_établissements_sanitaires'
populate_autorisation_et_capacite_medico_social = 'python -m datacrawler.ajoute_les_autorisations_des_établissements_médico_sociaux'
populate_autorisation_et_capacite_sanitaire = 'python -m datacrawler.ajoute_les_autorisations_des_établissements_sanitaires'
populate_cpom_medico_social = 'python -m datacrawler.ajoute_le_cpom_des_établissements_médico_sociaux'
populate_budget_et_finances_medico_social = 'python -m datacrawler.ajoute_le_bloc_budget_et_finances_des_établissements_médico_sociaux'
populate_ressoures_humaines_medico_social = 'python -m datacrawler.ajoute_le_bloc_ressources_humaines_des_établissements_médico_sociaux'
test = 'pytest --tb=short'
test_coverage = 'pytest --tb=short --cov=datacrawler --cov-report=xml'
test_watch = 'ptw'
typecheck = 'mypy --config pyproject.toml datacrawler'
