.pagination_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.disabledBtn {
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}

.enabledBtn {
  cursor: pointer !important;
  --active-tint: var(--active) !important;
  color: inherit !important;
}

.enabledBtn:hover {
  background-color: var(--hover);
}

.currentPage {
  --idle: transparent;
  --hover: var(--background-active-blue-france-hover);
  --active: var(--background-active-blue-france-active);
  background-color: var(--background-active-blue-france);
  color: var(--text-inverted-blue-france);
}
