.total_events {
    display: flex;
    font-weight: 500;
}

.total_events_text {
    width: 30%;
}

.list-style {
    list-style: inside !important;
}

.list-element-style {
    padding-bottom: .25rem !important;
}

.list-element-style p {
    margin-right: .25rem;
}