.liste-établissements-territoriaux-rattachés ol {
    color: var(--text-action-high-grey);
}

.liste-établissements-territoriaux-rattachés li:not(:last-child) {
    margin-bottom: .375rem;
}

.liste-établissements-territoriaux-rattachés .domaine {
    color: var(--pink-tuile-sun-425);
}

@media print {
    .voir_plus {
        display: none;
    }
}

.voir_plus {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.voir_plus::before {
    border-bottom: 1px solid;
    color: var(--border-default-grey);
    content: "";
    flex: 1 1;
    margin: auto 1rem auto auto;
}

.voir_plus::after {
    border-bottom: 1px solid;
    color: var(--border-default-grey);
    content: "";
    flex: 1 1;
    margin: auto auto auto 1rem;
}
