.liste-indicateurs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.liste-indicateurs>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .liste-indicateurs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 36em) {
  .liste-indicateurs {
    display: inherit;
  }

  .liste-indicateurs>li {
    margin-bottom: 1rem;
  }

  .liste-indicateurs>li div:nth-child(1) {
    min-height: 0;
  }
}

@media print {
  .liste-indicateurs {
    display: block !important;
  }

  .liste-indicateurs li {
    display: block;
    margin-bottom: 10px;
    page-break-inside: avoid;
  }
}
