.intitule span {
  margin-left: 1rem;
}

.mise-a-jour-source {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: .75rem;
}

.titraille {
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.graphe {
  width: 99%;
}

.print-only {
  list-style: none;
}

.donnees-arretees {
  color: var(--text-title-grey);
  font-size: .875rem;
}

@media print {
  .print-only {
    page-break-inside: avoid;
  }
}
