.graphe {
  width: 99%;
}

.titraille {
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.titraille {
  margin-bottom: 0;
  margin-right: .5rem;
}

.mise-a-jour-source {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
