.intitule span {
  margin-left: 1rem;
}

.mise-a-jour-source {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}

.titraille {
  margin-bottom: .5rem;
  margin-right: .5rem;
}

.titraille {
  margin-bottom: 0;
  margin-right: .5rem;
}

.graphe {
  width: 99%;
}