@media print
{
  .contenu-bloc:has(:global(.fr-collapse)):not(:global(.fr-collapse--expanded)) {
    display:none !important;
  }
}

.titre-bloc {
  font-size: unset ;
  font-weight: bold;
  line-height: unset;
  margin: 0;
  text-transform: uppercase;
}

.titre-button-bloc {
  font-weight: bold;
  text-transform: uppercase;
}

.titre-bloc-main {
  background: var(--blue-france-sun-113-625);
  color: var(--text-inverted-grey) !important;
  padding: .75rem 1rem;
}

.titre-bloc-secondary {
  background: var(--blue-france-850-200);
  color: var(--blue-france-sun-113-625) !important;
  padding: .75rem 1rem;
}

.titre-bloc-main:hover {
  background: var(--blue-france-sun-113-625) !important;
}

.titre-bloc-secondary:hover {
  background: var(--blue-france-850-200) !important;
}

.contenu-bloc {
  background: var(--background-elevation-raised-grey);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.contenu-bloc-main {
  background: var(--background-alt-blue-france);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.contenu-bloc > ul {
  margin: 0;
}

.contenu-bloc li {
  padding-bottom: 0;
}
