.etablissement {
    display:grid;
    margin-left: 70px;
    margin-bottom: 10px;
}

.list-equipement {
    display:inline-block;
    margin-bottom:3px;
}

@media(max-width:991px) {
    .etablissement {
        display:block;
    }
}

.etablissement > div {
    width:max-content;
    display:list-item;
    list-style: disc;
    height:fit-content;
    margin-right:10px;
    font-size: 14px;
}

.etablissement li {
    line-height: 2;
}

.nombre-equipement {
    display: inline;
    font-size: 14px;
}
