.detailsButton {
  position: absolute;
  right: 0;
}

/* Ligne flèche + valeur */
.headerRow {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-top: 8px;
}

/* Flèche bleue DSFR */
.arrow {
  color: var(--text-action-high-blue-france);
  /* DSFR blue */
}

/* Valeur en gros */
.value {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 700;
}

.echelleTemporelle {
  font-size: 14px;
}


/* Libellé sous la valeur */
.unit {
  margin-top: 6px;
  color: #666;
}

/* Variation bleu DSFR */
.variation {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.variationValue {
  font-weight: bold;
  color: var(--text-action-high-blue-france);
}

.variationGreen {
  color: green;
}

.variationRed {
  color: red;
}

/* Texte atténué (cas stable ou fallback) */
.muted {
  color: #666;
}

.contenuVignette {
  padding: 24px;
}
