.chartLineDiv {
    width: 90%;
}
.chartLineHeader {
    padding: 15px 0 20px 0px;
    font-weight: bold;
}
.chartLineBody {
    height: 250px
}
.borderRight
{
    border-right: 1px solid #DDDDDD;
}
.chartLineContainer {
    width: 95%;
    margin-top: 20px;
}