.filtersgroup {
    display: flex;
    padding-bottom: 1.25rem;
    padding-top: .25rem;
}

.filtersgroupMonthly {
    display: flex;
}

.filterElement {
    padding-right: 1rem;
}

.filterActiviteElement {
    padding-left: 1rem;
    display: flex;
}
