.container {
    display: flex;
    margin-bottom: 3rem;
}

.container>div {
    flex: 1;
}

@media print {
    .container {
        display: block;
        margin-bottom: 3rem;
    }

    .print-only {
        page-break-inside: avoid;
    }
}