.legendContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.legend {
    display: flex;
    flex-wrap: wrap;
}

.legend li {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 .5rem 0 0;
}

.legend li span {
    border-radius: 50%;
    height: .8rem;
    margin: 0 .25rem 0 0;
    width: .8rem;
}

.legend li label {
    font-size: .8rem;
    margin: 0;
    padding: .75rem 0;
}

.legend li label::before {
    top: inherit !important;
}

.referenceLegend {
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
    gap: .5rem;
}

.referenceLine {
    border-radius: 2px;
    height: 2px;
    width: 1.5rem;
}
