:root {
  --mobile: 36em;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

iframe {
  border: none;
}

.fr-accordion::before {
  box-shadow: inherit !important;
}

.inaccessible {
  margin-top: 10rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #fff !important;
    color: #000 !important;
  }
}

@media (max-width: 64em) {
  .fr-col-3 {
    flex: 0 0 33%;
    max-width: 33%;
    width: 33%;
  }
}

.fr-tile--horizontal-md .fr-tile__body {
  align-self: flex-start;
}

.fr-tile__link {
  word-break: break-word;
}

.fr-table {
  --table-offset: 0 !important;
}

/* Indicateurs */
.indicateurs,
.indicateurs>li ul:not(dialog *),
.indicateurs>li menu:not(dialog *) {
  list-style-type: none;
  padding: 0;
}

.indicateurs>li>ul>li>ul {
  padding-left: 1rem;
}

.indicateurs>li>div:nth-child(1) {
  margin-bottom: 1rem;
}

/* Autorisations */
.autorisations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
}

.autorisations>li>.niveau1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.autorisations>li>.niveau1>li .niveau2 {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

/* Impression */
@media print {
  @page {
    size: A4;
    margin: 10mm 0mm;
  }

  .print-content {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0 30px;
  }

  .hiddenPdf {
    visibility: hidden;
  }

  .fr-header__brand-top,
  .fr-header__tools,
  .fr-footer,
  .fr-btn,
  .fr-breadcrumb {
    display: none !important;
  }

  .fr-header,
  .fr-header__service {
    box-shadow: unset !important;
  }

  .fr-header__service {
    margin-bottom: 20px;
  }

  #légende-graphique-sanitaire-journées-séjours-mco,
  #légende-graphique-sanitaire-journées-psy-et-ssr {
    display: grid;
  }
}