:root {
  --mobile: 36em;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.fr-accordion::before {
  box-shadow: inherit !important;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #000 !important;
    background: #fff !important;
  }
}
