:root {
  --mobile: 36em;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

iframe {
  border: none;
}

.fr-accordion::before {
  box-shadow: inherit !important;
}

.page404 {
  margin-top: 10rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #fff !important;
    color: #000 !important;
  }
}
