.tuile {
  padding: 2rem 0 0 !important;
}

.description {
  text-transform: capitalize;
}

.starInEstablishment {
  color: #000091;
  background-color: transparent !important;
  position: relative;
  bottom: 97%;
  left: 88%;
}

.hidden-star {
  /* Contenu caché */
  visibility: hidden;
}

@media (max-width: 55em) {
  .starInEstablishment {
      color: #000091;
      background-color: transparent !important;
      position: relative;
      bottom: 97%;
      left: 84%;
  }
}

@media (max-width: 40em) {
  .starInEstablishment {
      color: #000091;
      background-color: transparent !important;
      position: relative;
      bottom: 97%;
      left: 75%;
  }
}