.tuile {
  padding: 0 !important;
}

.description {
  text-transform: capitalize;
}

.starInEstablishment {
  color:var(--text-title-blue-france);
  background-color: transparent !important;
  position: relative;
  bottom: 97%;
  left: 88%;
}

.hidden-star {
  /* Contenu caché */
  visibility: hidden;
}

@media (max-width: 55em) {
  .starInEstablishment {
    color: var(--text-title-blue-france);
    background-color: transparent !important;
    position: relative;
    bottom: 97%;
    left: 84%;
  }
}

@media (max-width: 40em) {
  .starInEstablishment {
    color:var(--text-title-blue-france);
    background-color: transparent !important;
    position: relative;
    bottom: 97%;
    left: 75%;
  }
}

.logo {
  margin: 1.75rem 0 1rem;
}

.content {
  padding: 0 .5rem 0 .5rem;
}

.texte-noir {
  color: var(--text-title-grey) !important;
}

.texte-noir:hover,
.texte-noir:active,
.texte-noir:visited {
  color: var(--text-title-grey) !important;
}