.liste-etablissements {
    list-style: circle;
}

.etablissement {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 5fr;
    margin-left: 70px;
    margin-bottom: 10px;
}

@media(max-width:991px) {
    .etablissement {
        display:block;
    }
}

.etablissement > a {
    width:max-content;
    display:list-item;
    list-style: disc;
    height:fit-content;
    margin-right:10px;
    margin-bottom: 10px;
}

.etablissement li {
    line-height: 0;
}
