.liste-etablissements {
    list-style: circle;
}

.etablissement {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 5fr;
    margin-left: 70px;
    margin-bottom: 10px;
}

@media(max-width:991px) {
    .etablissement {
        display:block;
    }
}

/* Ne pas afficher la liste des établissement en mode print si les modalités ne sont pas ouvertes (override du global.css)*/
@media print {
    .modalites:global(.fr-collapse:not(.fr-collapse--expanded)) {
        visibility: hidden !important;
        max-height: 0 !important;
    }
}

.etablissement > a {
    width:max-content;
    display:list-item;
    list-style: disc;
    height:fit-content;
    margin-right:10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.etablissement li {
    line-height: 0;
}
