.titre {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  margin: var(--title-spacing);
}

.titre h1 {
  color: var(--text-action-high-blue-france);
  flex-grow: 1;
  margin: 0;
}

.titre span {
  min-width: 1.7rem;
}

.titre button {
  justify-content: center;
  min-width: 14rem;
}

.logoContainer {
  height: 27px;
  width: 27px;
}

.logoContainer {
  height: 27px;
  width: 27px;
}

@media (max-width: 36em) {
  .titre button {
    max-height: 2.5rem !important;
    max-width: 2.5rem !important;
    min-width: unset;
    overflow: hidden !important;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
  }

  .titre button::before {
    font-size: 1.5rem !important;
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
}