.liste-indicateurs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.liste-indicateurs li {
  padding-bottom: 0;
}

.liste-indicateurs > li > div:nth-child(1)  {
  margin-bottom: 1rem;
}

.liste-indicateurs ul {
  list-style-type: none;
  margin-block-end: 0;
}

.liste-activités {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-left: 0;
}

.liste-activités > li > .liste-modalités {
  display: flex;
  flex-direction: column;
}

.liste-activités > li > .liste-modalités > li .liste-formes {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
