.liste-indicateurs {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
}

.voir_plus {
  margin-left: 10px;
  margin-right: 10px;
}

.voir_plus::before {
  border-bottom: 1px solid;
  color: var(--border-default-grey);
  content: "";
  flex: 1 1;
  margin: auto 1rem auto auto;
}

.voir_plus::after {
  border-bottom: 1px solid;
  color: var(--border-default-grey);
  content: "";
  flex: 1 1;
  margin: auto auto auto 1rem;
}
