.container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.error-message {
  width: 16rem;
  color: #cd3939;
}

.password-label {
  display: flex;
  justify-content: space-between;
}

.links-underline {
  background-image: none;
}

.error {
  height: fit-content;
  background-color: #f7d7d4;
  border: 1px solid #f4c7c2;
  color: #ce0500;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
