.title {
  text-align: center;
  margin-top: 2rem;
  color: #000091;
}

.label-field {
  min-width: 160px;
  display: inline-block;
}
.field_container {
  margin-bottom: 18px;
}

.boxSelect {
  display: flex;
  flex-flow: row wrap;
}

.boxItem {
  width: 30%;
}

.btnForm {
  float: right;
}

.fr-fieldset--error {
  color: #ce0500;
}
