.budget {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.budget>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fullWidth {
  grid-column: span 3;
}

@media (max-width: 991px) {
  .budget {
    grid-template-columns: repeat(2, 1fr);
  }

  .fullWidth {
    grid-column: span 2;
  }
}

@media (max-width: 36em) {
  .budget {
    display: inherit;
  }

  .budget>li {
    margin-bottom: 1rem;
  }
}

@media print {
    .budget {
        display: block !important;
    }

    .budget li {
        display: block;
        margin-bottom: 10px;
        page-break-inside: avoid;
    }
}
