@media print {
    .indicateur :global(.fr-transcription__footer) {
        display: none;
    }
    .indicateur :global(.fr-collapse) {
        --collapse: unset;
        --collapse-max-height: none;
        --collapser: none;
        display: block !important;
        visibility: visible !important;
    }
    .indicateur :global(.fr-modal__body) {
        max-height:fit-content !important;
    }
    .indicateur :global(.fr-modal__content) {
        max-height:fit-content !important;
        padding:0 !important;
    }
    .indicateur th {
        font-size:.7rem;
        padding:  1rem 0 1rem 0 !important;
        text-align: center;
    }
    .indicateur td {
        text-align: center;
    }
}
