.liste-indicateurs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.liste-indicateurs>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.liste-indicateurs canvas {
  margin-bottom: 1rem;
}

.liste-indicateurs canvas {
  margin-bottom: 1rem;
}

.liste-indicateurs-vr-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.liste-indicateurs-vr {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(var(--vigie-rh-cols, 3), minmax(0, 1fr));
  --indicateur-graph-min-height: 420px;
}

.liste-indicateurs-vr>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.liste-indicateurs-vr [class*="graphe"] {
  display: flex;
  flex-direction: column;
  min-height: var(--indicateur-graph-min-height, 420px);
  flex: 1 1 auto;
}

.liste-indicateurs-vr canvas {
  margin-bottom: 1rem;
}

.liste-indicateurs-vr canvas {
  margin-bottom: 1rem;
}

.vigie-rh-header {
  margin-bottom: 2rem;
  padding-top: .5rem;
}

.vigie-rh-title-block {
  margin-bottom: 1rem;
}

.vigie-rh-caption {
  align-items: baseline;
  color: var(--text-title-grey);
  display: flex;
  flex-wrap: wrap;
  font-size: .9375rem;
  gap: .35rem;
  margin: 0;
}


.vigie-rh-caption-separator {
  color: var(--text-mention-grey);
  font-weight: 500;
  padding: 0 .5rem;
}

.vigie-rh-top-indicateurs {
  margin-top: 1rem;
}

@media (max-width: 36em) {
  .liste-indicateurs {
    display: inherit;
  }

  .liste-indicateurs-vr {
    display: block;
    grid-template-columns: none;
  }

  .liste-indicateurs>li {
    margin-bottom: 1rem;
  }

  .liste-indicateurs>li div:nth-child(1) {
    min-height: 0;
  }

  .liste-indicateurs-vr>li {
    margin-bottom: 1rem;
  }

  .liste-indicateurs-vr>li div:nth-child(1) {
    min-height: 0;
  }
}

.badge-nouveau {
  margin-left: 1rem;
}

.sous-bloc {
  border-bottom: solid 1px var(--border-default-grey);
  border-top: solid 1px var(--border-default-grey);
}

@media print {
  .liste-indicateurs {
    display: block !important;
  }

  .liste-indicateurs li {
    display: block;
    margin-bottom: 10px;
    page-break-inside: avoid;
  }
}
