.colorLabelContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.colorLabel {
    display: flex;
    align-items: center;
    gap: 8px;
}

.colorCircle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}
