.colorLabelContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.colorLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: .8rem;
}

.colorCircle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}

.colorLine {
    width: 50px;
    height: 2px;
}
