.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.years-container {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.logo-container {
  width: 24px;
  height: 24px;
}

.titreComposentSpan {
  font-size: larger;
  font-weight: 700;
}

.logo-container {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.list-etablissements {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.list-etablissements-container {
  max-height: 380px;
  overflow-y: scroll;
}

.list-etablissements-container::-webkit-scrollbar {
  width: 12px;
}

/* Track (background area) */
.list-etablissements-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (draggable part) */
.list-etablissements-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Thumb hover effect */
.list-etablissements-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar corner */
.list-etablissements-container::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

.etablissement-info:hover {
  background-color: #e8e7e7;
  cursor: pointer;
  /*cursor: not-allowed;*/
}

.main-span {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.icon-check-fill {
  height: 15px;
  width: 25px;
}

.disabled-container {
  /*pointer-events: none;*/
  opacity: .5;
  color: gray;
}

.selected-container {
  color: black;
}

.ajout-etab-body {
  --idle: transparent;
  --hover: var(--background-lifted-grey-hover);
  --active: var(--background-lifted-grey-active);
  background-color: var(--background-lifted-grey);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  flex: 1 1 auto;
  max-height: var(--modal-max-height);
  overflow-y: auto;
  pointer-events: all;
}  

.button-add-etab {
  transition: transform .2s ease;
}

  .button-add-etab:active {
    transform: translateY(10px);
}