.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.years-container {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between
}

.logo-container {
  width: 24px;
  height: 24px;
}