.formulaire {
  margin-top: 2rem;
  text-align: center;
}

.tuiles {
  list-style: none;
}

.tuile {
  align-self: flex-start;
  margin: 2.5rem 0 0 2rem;
  min-width: 3rem;
}

.hideArrow::after {
  content: none;
}

.description {
  text-transform: capitalize;
}

@media (max-width: 48em) {
  .tuile {
    align-self: center;
    margin-left: 0;
  }
}

.voir-plus-de-résultats {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}