.formulaire {
  margin-top: 2rem;
  text-align: center;
}

.tuiles {
  list-style: none;
}

.tuile {
  align-self: flex-start;
  margin: 2.5rem 0 0rem 2rem;
  width: 7rem;
}

.description {
  text-transform: capitalize;
}
