.liste-indicateurs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.liste-indicateurs > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.liste-indicateurs canvas {
  margin: 1rem 0;
}

@media (max-width: 36em) {
  .liste-indicateurs {
    display: inherit;
  }

  .liste-indicateurs > li {
    margin-bottom: 1rem;
  }

  .liste-indicateurs > li div:nth-child(1)  {
    min-height: 0;
  }
}
