.graphique-legende {
    display: flex;
    flex-wrap: wrap;
}

.graphique-legende {
    display: flex;
    flex-wrap: wrap;
}


.graphique-legende li {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 .5rem 0 0;
}

.graphique-legende li span {
    border-radius: 50%;
    height: .8rem;
    margin: 0 .25rem 0 0;
    width: .8rem;
}

.graphique-legende li label {
    font-size: .8rem;
    margin: 0;
    padding: .75rem 0;
}

.graphique-legende li label::before {
    top: inherit !important;
}
